<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script>
  var map = L.map("map").setView([-6.21462, 106.84513], 6);

  L.tileLayer(
    "https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=zWQboMg4ocUmkbOwziKR",
    {
      attribution:
        '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
      maxZoom: 18,
    }
  ).addTo(map);

  var locations = [
    ["<b>Hello!</b><br/>Jakarta here..", -6.21462, 106.84513],
    ["<b>Hello!</b><br/>Surabaya here..", -7.24917, 112.75083],
    ["<b>Hello!</b><br/>Semarang here..", -6.9932, 110.4203],
    ["<b>Hello!</b><br/>Yogyakarta here..", -7.78278, 110.36083],
    ["<b>Hello!</b><br/>Serpong here..", -6.31694, 106.66417],
  ];

  for (var i = 0; i < locations.length; i++) {
    marker = new L.marker([locations[i][1], locations[i][2]])
      .bindPopup(locations[i][0])
      .addTo(map);
  }
</script>
